@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}

::-webkit-scrollbar-thumb:active {
  background: lightgray;
}

li {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}
 
pre {
  color: white;
}

textarea {
  background-color: black;
  color: white;
  border-radius: 2px;
  width: 100%;
}